// custom variables
$primary :#c29938;
$success: rgb(34, 88, 204);

// import functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors:(
    "mycolor":#9dc238,
);
// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap'